<!DOCTYPE html>
<html>

<head>
    <title>ShoppingSite</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="style.css" />

</head>

<body>

    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">Shopping site</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign-in</a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="prduct.html">
                        <img src="./images/p1.jpg" alt="prduct" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>party wear Long gown dress</h2>

                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>

                        </div>

                        <div class="price">
                            <h2>Rs.1000</h2>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="prduct.html">
                        <img src="./images/p1.jpg" alt="prduct" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>party wear Long gown dress</h2>

                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>

                        </div>

                        <div class="price">
                            <h2>Rs.1000</h2>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="prduct.html">
                        <img src="./images/p1.jpg" alt="prduct" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>party wear Long gown dress</h2>

                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>

                        </div>

                        <div class="price">
                            <h2>Rs.1000</h2>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="prduct.html">
                        <img src="./images/p1.jpg" alt="prduct" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>party wear Long gown dress</h2>

                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>

                        </div>

                        <div class="price">
                            <h2>Rs.1000</h2>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="prduct.html">
                        <img src="./images/p1.jpg" alt="prduct" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>party wear Long gown dress</h2>

                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-half-o"></i></span>

                        </div>

                        <div class="price">
                            <h2>Rs.1000</h2>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="prduct.html">
                        <img src="./images/p1.jpg" alt="prduct" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>party wear Long gown dress</h2>

                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span> <i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-o"></i></span>

                        </div>

                        <div class="price">
                            <h2>Rs.1000</h2>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <footer class="row center">
            Shopping site
        </footer>
    </div>
</body>

</html>